/* CSS */
html {
    box-sizing: border-box;

}

*, *::before *::after {
    box-sizing: inherit;

}

body {
    height: 100vh;

}

.flex-start-mode {
    text-align: center;
}
.flex-start {
border: 10px solid #3e8fe6;
height: 70%;
width: 98%;

}